[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lark = "*"
PySide6 = "*"

[dev-packages]
doit = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3.12"
